.headline-subline-container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.headline-subtext-wrapper {
  width: 50%;
  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .portfolio-section-description {
      width: 100%;
      font-size: 24px;
      text-align: center;
    }
  }
}

.reference-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.reference-list::-webkit-scrollbar-thumb {
  background-color: var(--font-color);
}

.reference-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  transition: all 200ms ease-in-out;
  height: auto;
  overflow: hidden;
  transition: var(--transition);

  .evaluator {
    text-align: center;
  }

  .reference {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 2vw;
    line-height: 1.6rem;
    padding: 2%;
    border: 3px solid var(--font-color);
    width: 25%;
    height: fit-content;
    min-width: 200px;
    transition: 0.5s cubic-bezier(0.84, -1.08, 0.3, 1.24);
    background-color: var(--bg-color);
    overflow: hidden;

    .reference-text {
      opacity: 1;
      transition: 0.5s cubic-bezier(0.84, -1.38, 0.3, 1.54);
    }

    &:hover {
      width: 30%;

      .reference-text {
        opacity: 1;
      }
    }
  }

  .hovered-class {
    width: 30%;
    height: 100%;
    .reference-text {
      opacity: 1;
    }
  }
}

.referece-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  img {
    margin-bottom: 1rem;
  }
  .evaluator {
    font-family: var(--font_2);
    font-weight: bold;
    font-size: 24px;
  }
}
