<div class="headline-subline-container">
  <div class="headline-subtext-wrapper">
    <h2>
      References
      <p class="portfolio-section-description">
        {{ "references_subline" | translate }}
      </p>
    </h2>
  </div>
</div>

<div class="reference-list">
  @for (reference of references; track $index) {
  <div
    class="reference"
    (mouseenter)="onMouseEnter($index)"
    [ngClass]="{ 'hovered-class': reference.isHovered }"
  >
    <div class="referece-head">
      <img src="./assets/img/quote-icon.svg" alt="" class="icon" />
      <div class="evaluator">{{ reference.evaluator }}</div>
      <div class="evaluator-position">{{ reference.evalatorPosition }}</div>
      <p class="reference-text">
        @if (translate.actualLang == 'en') {
        {{ reference.reference }}
        } @else {
        {{ reference.reference_de }}
        }
      </p>
    </div>
  </div>
  }
</div>
