<section class="about-me">
  <h2>About me</h2>

  <div class="about-me-wrapper">
    <div class="about-me-text-info">
      <p>
        I am a Front-end deverloper from Friedrichroda, Thuringia. I help
        designers and companies to bring their ideas to real life. Creativity
        and logical thinking are skills that I have developed to connect ideas
        into quality products.
      </p>
      <p>If you think I’d be a good match for your projects, contact me!</p>

      <div class="about-me-quickinfo-wrapper">
        <p class="about-me-quickinfo">
          <img src="./assets/img/based-in-icon.svg" alt="" />based in
          Friedrichroda
        </p>
        <p class="about-me-quickinfo">
          <img src="./assets/img/laptop-icon.svg" alt="" />open to work
          Remote/Hybrid
        </p>
      </div>

      <div class="lets-talk-btn-wrapper">
        <div class="lets-talk-btn">Let's talk</div>
      </div>
    </div>

    <div class="about-me-photo">
      <div class="photo-frame"></div>
      <img src="./assets/img/photo-me.png" alt="" />
    </div>
  </div>
</section>
