<section class="about-me" id="aboutMe">
  <h2>About me</h2>

  <div class="about-me-wrapper">
    <div class="about-me-text-info" data-aos="fade-right">
      <p>
        {{ "about_me" | translate }}
      </p>
      <p>{{ "about_me_second" | translate }}</p>

      <div class="about-me-quickinfo-wrapper">
        <p class="about-me-quickinfo">
          <img class="icon" src="./assets/img/based-in-icon.svg" alt="" />{{
            "about_me_based" | translate
          }}
        </p>
        <p class="about-me-quickinfo">
          <img class="icon" src="./assets/img/laptop-icon.svg" alt="" />{{
            "about_me_open" | translate
          }}
        </p>
      </div>

      <div class="lets-talk-btn-wrapper">
        <div class="lets-talk-btn">Let's talk</div>
      </div>
    </div>

    <div class="about-me-photo">
      <div class="photo-frame"></div>
      <img src="./assets/img/photo-me.png" alt="" />
    </div>
  </div>
</section>
