.contact-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--transition);
}

.arrow-up-container {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.arrow-up {
  rotate: 180deg;
  width: 5vw;

  animation: bounceDownAndUp 1s infinite;
}

@keyframes bounceDownAndUp {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

svg {
  position: absolute;
  top: 0;
  z-index: -1;
  transition: var(--transition);
}

h2 {
  width: 70%;
  margin-top: 20vh;
  color: var(--font-color);

  &:hover {
    color: var(--accent-color);
  }
}

.contact-content-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 32px;
    color: var(--accent-color);
    margin-bottom: 0;
    text-align: center;
  }
  p {
    color: var(--font-color);
    text-align: center;
  }
  span {
    color: var(--font-color);
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 60%;
  padding: 12px;
  border: none;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--font-color);
  color: var(--font-color);
  outline: transparent;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: transparent !important;
  font-size: 18px;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--font-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--font-color) !important;
}

textarea {
  height: 20vh;
  resize: none;
}

input[type="submit"] {
  background-color: transparent;
  color: white;
  padding: 2% 5%;
  font-size: 24px;
  border: 3px solid rgba(187, 187, 187, 1);
  cursor: pointer;
  margin-top: 5vh;

  transition: var(--transition);
}

.submit-btn-not-validated {
  color: grey !important;
  border-color: grey !important;
  opacity: 0.5;
  cursor: auto !important;
  &:hover {
    padding: 2% 5% !important;
  }
}

input[type="submit"]:hover {
  padding: 2% 7%;
}

.checkbox-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  user-select: none;
}

[type="checkbox"] {
  position: relative;
  left: 15px;
  top: -4px;
  z-index: 0;
  -webkit-appearance: none;
}
[type="checkbox"] + label {
  position: absolute;
  font-size: 16px;
  padding-left: 4px;
}
[type="checkbox"] + label::before {
  width: 15px;
  height: 15px;
  border-radius: 1px;
  border: 2px solid var(--font-color);
  background-color: var(--font-color);
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
  z-index: 5;
  position: relative;
}

[type="checkbox"]:checked + .checkbox-checked::before {
  box-shadow: inset 0px 0px 0px 2px var(--font-color);
  background-color: var(--bg-color);
}

// Errors

.contact-input-error {
  width: 60%;

  span {
    color: red;
    font-size: 16px;
  }
}

.input-error-privacy-policy {
  margin-top: 8px;
}

@media (max-width: 1180px) {
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .arrow-up-container {
    width: 10vw;
    position: absolute;
    bottom: 0;
    right: 0;
    .arrow-up {
      width: 8vw;
    }
  }
}

@media (max-width: 880px) {
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .checkbox-wrapper {
    label {
      width: 90%;
    }
  }
}

@media (max-width: 640px) {
  .arrow-up-container {
    display: none;
  }
}

@media (max-width: 550px) {
  .contact-form {
    width: 100%;
  }

  input[type="submit"] {
    padding: 4% 6%;
  }
}
