<section id="skills">
  <div class="skills-wrapper">
    <!-- <div class="headline-wrapper"><h2>My skills</h2></div> -->
    <h2 class="headline">My skills</h2>
    <div class="tech-wrapper">
      @for (imgSrc of techImgs; track $index) {
      <div class="single-tech-wrapper" data-aos="zoom-in-right">
        <img class="icon" src="{{ techImgs[$index].imgSrc }}" alt="" />
        <span>{{ techImgs[$index].techName }}</span>
      </div>
      }
    </div>

    <div class="ready-to-learn-wrapper" data-aos="zoom-in-left">
      <img
        class="icon icon-learn"
        src="./assets/img/tech-icons/learn-icon.svg"
        alt=""
      />
      <span
        >{{ "skills_learn_1" | translate }}
        <a href="#contact">{{ "skills_learn_2" | translate }}</a>
        {{ "skills_learn_3" | translate }}</span
      >
    </div>
  </div>
</section>
