<section id="portfolio">
  <div class="headline-subline-container">
    <div class="headline-subtext-wrapper">
      <h2>
        Portfolio
        <p class="portfolio-section-description">
          Explore a selection of my work here - Interact with projects to see my
          skills in action.
        </p>
      </h2>
    </div>
  </div>

  <div class="projects-list-wrapper">
    @for (project of projects; track project) {
    <div class="single-project">
      <img src="{{ project.imgSrc }}" alt="" />

      <div class="project-infos">
        <h2>{{ project.title }}</h2>
        <div class="technologies">
          @for (technologie of project.technologies; track technologie) {
          <span>{{ technologie }} </span><span>|</span>
          }
        </div>
        <p class="description">{{ project.description }}</p>
        <div class="link-btns"><a href="">Github</a> <a href="">Demo</a></div>
      </div>
    </div>
    }
  </div>
</section>
