.headline-subline-container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.headline-subtext-wrapper {
  width: 100%;
  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .portfolio-section-description {
      text-align: center;
    }
  }
}

.projects-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.single-project {
  display: flex;
  align-items: center;

  padding: 3% 0;
  transition: 150ms ease-in-out;
  filter: grayscale(50%);

  &:nth-child(even) {

    .project-infos {
      padding-left: 0;
      transition: 150ms ease-in-out;
    }
  }

  &:hover {
    filter: grayscale(0%);
    .project-infos {
      // translate: 0;
      opacity: 1;
    }
    .image-container::before {
      opacity: 0.5;
      transform: translate(3%, 8%);
    }
    .right-side-project::before {
      transform: translate(-5%, 5%);
    }
  }
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 45vw;
}

.image-container::before,
.right-side-project::before {
  content: "";
  position: absolute;
  top: -5px; /* Höhe des Rahmens, um den Rahmen um das Bild herum zu positionieren */
  left: -5px;
  right: -5px;
  bottom: -5px;
  transform: translate(10%, 10%);
  opacity: 0;
  width: 45vw;
  height: 100%;
  border: 5px solid white; /* Rahmen um das Bild */
  box-sizing: border-box; /* Stellt sicher, dass der Rahmen zur Gesamtgröße des Containers zählt */
  z-index: 11; /* Positioniert das Pseudo-Element hinter dem Bild */
  transition: var(--transition);
}

.right-side-project::before {
  transform: translate(10%, -10%);
}

img {
  width: 100%; /* Macht das Bild 100% der Breite des Containers */
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 10; /* Positioniert das Bild über dem Pseudo-Element */
}

.project-infos {
  padding: 3% 0;
  transition: var(--transition);
  opacity: 1;
  margin-left: 5%;
  // filter: grayscale(0%) !important;
  h2 {
    font-size: clamp(2rem, 2vw + 1rem, 4vw);
    margin: 0;
    margin-bottom: 0.8rem;
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    span {
      color: var(--accent-color);
      font-weight: bold;
      &:last-child {
        display: none;
      }
    }
  }
}

.link-btns {
  display: flex;
  justify-content: start;
  gap: 1rem;

  a {
    text-decoration: none;
    font-weight: bold;
    flex: 1;
    border: 3px solid var(--font-color);
    padding: 1rem 3rem;
    transition: var(--transition);
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: whitesmoke;
      z-index: 0; // Hintergrund unter dem Text
      transition: transform 0.5s ease; // Übergang für das Füllen
      transform: scaleX(0); // Startzustand
      transform-origin: left; // Startet von links
    }

    &:hover::before {
      transform: scaleX(1); // Skaliert den Hintergrund auf 100%
    }

    &:hover {
      span {
        color: var(--bg-color); // Farbe des Textes beim Hover
      }
    }

    span {
      position: relative;
      z-index: 1; // Sicherstellen, dass der Text über dem Hintergrund liegt
    }
  }
}

@media (max-width: 1500px) {
  .project-infos {
    width: 40%;
  }
}

@media (max-width: 1280px) {
  .single-project {
    align-items: center;
  }

  .link-btns {
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .single-project {
    flex-direction: column;

    .project-infos {
      width: 100%;
    }
    filter: grayscale(0);
    &:nth-child(even) {
      flex-direction: column;
    }

    padding: 2%;
    border: 3px solid transparent;
    &:hover {
      border: 3px solid var(--font-color);
      .image-container::before {
        display: none;
      }
      .right-side-project::before {
        display: none;
      }
    }

    .link-btns {
      justify-content: center;

      a {
        min-width: 40%;
      }
    }

    .image-container {
      width: 100%;
    }

    .image-container::before,
    .right-side-project::before {
      display: none;
    }
  }
  .project-infos {
    width: 100%;
    padding-left: 0;
  }
}

@media (max-width: 790px) {
  .headline-subtext-wrapper {
    width: 80%;
  }
}
