<section id="portfolio">
  <div class="headline-subline-container">
    <div class="headline-subtext-wrapper">
      <h2>
        Portfolio
        <p class="portfolio-section-description">
          {{ "portfolio_subline" | translate }}
        </p>
      </h2>
    </div>
  </div>

  <div class="projects-list-wrapper">
    @for (project of projects; track $index) {

    <div class="single-project">
      <div
        class="image-container"
        [ngClass]="{ 'right-side-project': isEven($index) }"
      >
        <img
          src="{{ project.imgSrc }}"
          alt=""
          data-aos="flip-down"
          data-aos-delay="300"
          data-aos-duration="1000"
          data-aos-offset="-500px"
        />
      </div>

      <div class="project-infos aos-item" data-aos="flip-up">
        <h2>{{ project.title }}</h2>
        <div class="technologies">
          @for (technologie of project.technologies; track technologie) {
          <span>{{ technologie }} </span><span>|</span>
          }
        </div>
        <p class="description">
          @if (translate.actualLang == 'en') { {{ project.description }} } @else
          {
          {{ project.description_de }}
          }
        </p>
        <div class="link-btns">
          <a href="{{ project.demoLink }}" target="_blank"><span>Demo</span></a>
          <a href="{{ project.gitLink }}" target="_blank"
            ><span>Github</span></a
          >
        </div>
      </div>
    </div>
    }
  </div>
</section>
