<app-nav-bar></app-nav-bar>
<div class="content-wrapper">
  <div class="main-content">
    <router-outlet></router-outlet>
    <app-about-me></app-about-me>
    <!-- <app-animate-arrow></app-animate-arrow> -->
    <app-my-skills></app-my-skills>
    <!-- <app-other-animate-arrow></app-other-animate-arrow> -->
    <app-portfolio> </app-portfolio>
    <app-references></app-references>
    <!-- <app-animate-arrow></app-animate-arrow> -->
  </div>
</div>
<app-contact></app-contact>
<app-footer></app-footer>
