<a [routerLink]="''" class="back-arrow">&#8592;</a>

<div class="imprint-wrapper">
  <h1>Impressum</h1>

  <p><strong>Angaben gemäß § 5 TMG:</strong></p>

  <p>
    Alexander Hähnlein<br />
    Herzogsweg 16<br />
    99894 Friedrichroda
  </p>

  <p>
    <strong>Kontakt:</strong><br />

    E-Mail: dev&#64;haehnlein-alexander.org
  </p>
</div>
<hr />
<div class="legal-notice-wrapper">
  <h1>Datenschutzerklärung</h1>
  <p>
    <strong>Verantwortliche Stelle:</strong><br />
    Alexander Hähnlein<br />
    dev&#64;haehnlein-alexander.org
  </p>

  <p>
    <strong>Erhebung und Nutzung personenbezogener Daten:</strong><br />
    Auf dieser Website werden personenbezogene Daten nur erhoben, wenn Sie diese
    über das Kontaktformular freiwillig angeben. Die von Ihnen eingegebenen
    Daten (z.B. Name, E-Mail-Adresse) werden ausschließlich zur Bearbeitung
    Ihrer Anfrage verwendet und nicht an Dritte weitergegeben.
  </p>

  <p>
    <strong>Links zu externen Websites:</strong><br />
    Diese Website enthält Links zu externen Websites wie GitHub und LinkedIn.
    Bitte beachten Sie, dass diese Websites ihre eigenen Datenschutzrichtlinien
    haben, auf die ich keinen Einfluss habe. Ich empfehle Ihnen, die
    Datenschutzrichtlinien der entsprechenden Websites zu überprüfen.
  </p>

  <p>
    <strong>Server-Log-Dateien:</strong><br />
    Beim Besuch dieser Website werden automatisch Informationen in sogenannten
    Server-Log-Dateien gespeichert, die Ihr Browser übermittelt. Diese
    Informationen umfassen die IP-Adresse, Browsertyp, Datum und Uhrzeit des
    Zugriffs. Diese Daten werden ausschließlich zur Sicherstellung des Betriebs
    der Website verwendet und nicht mit anderen Datenquellen zusammengeführt.
  </p>

  <p>
    <strong>Rechte der betroffenen Personen:</strong><br />
    Sie haben das Recht, jederzeit Auskunft über die bei mir gespeicherten
    personenbezogenen Daten zu erhalten sowie deren Berichtigung, Sperrung oder
    Löschung zu verlangen.
  </p>

  <p>
    <strong>Kontakt:</strong><br />
    Für Anfragen zum Datenschutz wenden Sie sich bitte an
    dev&#64;haehnlein-alexander.org.
  </p>
</div>
