.arrow-wrapper {
  display: flex;
  justify-content: end;

  img {
    padding-right: 10%;
    transition: var(--transition);
    transform: translateY(0px) translateX(0px);
    opacity: 0;
  }

  .animated {
    transform: translateY(50px) translateX(-50px);
    opacity: 1;
  }
}

.to-animate {
  &:hover {
    img {
      animation: moveArrow 0.3s 1 forwards;
    }
  }
}

.headline-wrapper {
  display: flex;
  justify-content: center;
  h2 {
    width: fit-content;
    padding: 0 3%;
    white-space: nowrap;
    text-align: center;
    background-color: var(--bg-color-light);
  }
}

img {
  height: 12vh;
}

.skills-wrapper {
  border: 5px solid var(--font-color-black);
  margin-top: -80px;
  padding-bottom: 5%;
}

.tech-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 10% 10% 5% 10%;
}

.single-tech-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-right: 3rem;
  span {
    font-weight: bold;
    font-size: 18px;
  }

  &:nth-child(even) {
    img {
      transition: var(--transition);
      &:hover {
        transform: skew(10deg, 5deg);
      }
    }
  }

  &:nth-child(odd) {
    img {
      transition: var(--transition);
      &:hover {
        transform: skew(5deg, 10deg);
      }
    }
  }
}

.ready-to-learn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 20px;

  a {
    color: var(--accent-color);
    transition: var(--transition);
    &:hover {
      filter: brightness(125%);
    }
  }

  img {
    transition: var(--transition);
    &:hover {
      transform: skew(5deg, 10deg);
    }
  }
}

@keyframes moveArrow {
  from {
    transform: translateY(0px) translateX(0px);
    opacity: 0;
  }
  to {
    transform: translateY(50px) translateX(-50px);
    opacity: 1;
  }
}
