<div class="headline-wrapper"><h2>My skills</h2></div>
<div class="skills-wrapper">
  <div class="tech-wrapper">
    @for (imgSrc of techImgs; track $index) {
    <div class="single-tech-wrapper">
      <img src="{{ techImgs[$index].imgSrc }}" alt="" />
      <span>{{ techImgs[$index].techName }}</span>
    </div>
    }
  </div>

  <div class="ready-to-learn-wrapper">
    <img src="./assets/img/tech-icons/learn-icon.svg" alt="" />
    <span
      >Don't see the skill you need? <a href="">Contact me</a> I'm always ready
      to learn!</span
    >
  </div>
</div>
