.nav-container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color-light);
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: 32px;
  user-select: none;
  cursor: pointer;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  user-select: none;
  cursor: pointer;
  position: relative;

  .burger-menu-line {
    background-color: var(--font-color-black);
    width: 40px;
    height: 4px;
    // position: absolute;

    // &:nth-child(1) {
    //   display: none;
    // }

    // &:nth-child(2) {
    //   top: 50%;
    //   transform: translateY(0%) rotate(-45deg);
    // }

    // &:nth-child(3) {
    //   left: 50%;
    //   transform: translateX(0%) rotate(45deg);
    // }
  }
}
