<div class="nav-container">
  <img src="./assets/img/logo.svg" alt="" class="logo icon" />

  <div class="language">
    <span
      [ngClass]="{ 'language-active ': translate.actualLang == 'en' }"
      (click)="translate.switchLanguage('en')"
      >EN</span
    >
    <span
      [ngClass]="{ 'language-active ': translate.actualLang == 'de' }"
      (click)="translate.switchLanguage('de')"
      >DE</span
    >
  </div>

  <div
    class="burger-menu"
    [ngClass]="{ 'burger-menu-crossed': isOpened }"
    (click)="toggleNav()"
  >
    <div
      class="burger-menu-line"
      [ngClass]="{ 'line-crossed': isOpened }"
    ></div>
    <div
      class="burger-menu-line"
      [ngClass]="{ 'line-crossed': isOpened }"
    ></div>
    <div
      class="burger-menu-line"
      [ngClass]="{ 'line-crossed': isOpened }"
    ></div>
  </div>

  <div
    class="nav-full-screen"
    [ngClass]="{
      'nav-full-screen-open': isOpened,
      'closing-animation': closingAnimation
    }"
  >
    <div class="nav-links-wrapper">
      <a href="#aboutMe" (click)="toggleNav()">About me</a>
      <a href="#skills" (click)="toggleNav()">Skills</a>
      <a href="#portfolio" (click)="toggleNav()">Portfolio</a>
    </div>

    <svg
      class="black-bg"
      width="100%"
      height="30%"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon points="0,0 100,60 100,100 0,100" fill="rgb(1, 4, 9)" />
    </svg>

    <a href="#contact" class="say-hi-link" (click)="toggleNav()"
      ><span>C</span><span>o</span><span>n</span><span>t</span><span>a</span
      ><span>c</span><span>t</span>&nbsp;<span>m</span><span>e</span
      ><span>.</span></a
    >
  </div>
</div>
